{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'indicateurs/style.css' %}">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
      Ce graphique montre le dégré d'irrégularité de l'activité des utilisateurs qu'on se propose d'évaluer comme suit :<br>
      <ul>
        <li>On attribut un score pour chaque action des utilisateurs en fonction de leur importance.</li>
        <li>On cumule ces scores par jour.</li>
        <li>Puis on calcule l'écart-type de ces scores journaliers</li>
      </ul>
    </p>
</figure>
<figure class="highcharts-figure">
    <div id="container2"></div>
    <p class="highcharts-description">
      Ce deuxième indicateur montre le degré d'irrégularité des connexions des utilisateurs.<br>
      Le principe est semblable au premier, on calcule l'écart-type des durées entre les activités.
    </p>
</figure>

<script>
  // Create the chart
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: "Irrégularité de la nature des activités des utilisateurs"
      },
      subtitle: {
          text: "Cliquez sur les résultats pour voir les scores d'activité."
      },
      accessibility: {
          announceNewData: {
              enabled: true
          }
      },
      xAxis: {
          type: 'category'
      },
      yAxis: {
          title: {
              text: "Ecart-type des scores journaliers de l'activité"
          }

      },
      legend: {
          enabled: false
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.1f}'
              }
          }
      },

      tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b><br/>'
      },

      series: [
          {
              name: "Utilisateurs",
              colorByPoint: true,
              data: {{data_irregularite_scores|safe}}
          }
      ],
      drilldown: {
          series: {{data_scores|safe}}
      }
  });

  // Create the chart
  Highcharts.chart('container2', {
      chart: {
          type: 'column'
      },
      title: {
          text: "Irrégularité temporelle des utilisateurs"
      },
      accessibility: {
          announceNewData: {
              enabled: true
          }
      },
      xAxis: {
          type: 'category'
      },
      yAxis: {
          title: {
              text: "Ecart-type des dates de connexion"
          }

      },
      legend: {
          enabled: false
      },
      plotOptions: {
          series: {
              borderWidth: 0,
              dataLabels: {
                  enabled: true,
                  format: '{point.y:.1f}'
              }
          }
      },

      tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b><br/>'
      },

      series: [
          {
              name: "Utilisateurs",
              colorByPoint: true,
              data: {{data_irregularite_dates|safe}}
          }
      ]
  });
</script>
